@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 600;
  src: url(Tangerine-Bold.ttf) format('truetype');
}
/* @font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: url(CabinSketch-Bold.ttf) format('truetype');
} */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 1 999;
  src: url(Quicksand-Variable.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(NotoSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url(Inconsolata-Regular.ttf) format('truetype');
}