// Before
$base-color: #2898e2;

$color-light: lighten($base-color, 40%);
$color-dark: darken($base-color, 15%);
$color-transparent: transparentize($base-color, 0.5);
$color-mix: mix($base-color, red, 50%);

.color-100 {
  background: $color-light;
}
.color-200 {
  background: $color-dark;
}
.color-300 {
  background: $color-transparent;
}
.color-400 {
  background: $color-mix;
}

// With HSL
// :root {
//   --base-color-hue: 200;
// }
// .color-100 {
//   background: hsl(var(--base-color-hue) 50% 90%);
// }
// .color-200 {
//   background: hsl(var(--base-color-hue) 55% 80%);
// }
// .color-300 {
//   background: hsl(var(--base-color-hue) 60% 70%);
// }
// .color-400 {
//   background: hsl(var(--base-color-hue) 90% 50%);
// }
// .color-500 {
//   background: hsl(var(--base-color-hue) 90% 40%);
// }
// .color-600 {
//   background: hsl(var(--base-color-hue) 70% 35%);
// }
// .color-700 {
//   background: hsl(var(--base-color-hue) 50% 30%);
// }


// Now
// :root {
//   --base-color: #2898e2;
// }

// .color-100 {
//   background: color-mix(in srgb, var(--base-color) 10%, white 100%);
// }
// .color-200 {
//   background: color-mix(in srgb, var(--base-color) 30%, white 50%);
// }
// .color-300 {
//   background: color-mix(in srgb, var(--base-color) 60%, white 30%);
// }
// .color-400 {
//   background: var(--base-color);
// }
// .color-500 {
//   background: color-mix(in srgb, var(--base-color) 100%, black 10%);
// }
// .color-600 {
//   background: color-mix(in srgb, var(--base-color) 60%, black 30%);
// }
// .color-700 {
//   background: color-mix(in srgb, var(--base-color) 30%, black 60%);
// }